@import 'colors';
@import 'media-quires';

.selection-modal{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $Mblack;
  top: 0;

  section{
    background-color: $crack;
    padding: 20px;
    position: relative;
    width: 40%;
    margin-top: 0px;
    border-radius: 7px;

    div{
        .select{
          border: 1px solid $Dcyan;
        }
    }

    @include mobile{
      width: 90%;
      margin: 0 auto;
    }

    svg{
      position: absolute;
      right: 20px;
    }

    h2{
      font-size: 15px;
      margin: 15px 0;
      font-weight: 700;

      @include mobile{
        font-size: 13px;  
      } 
    }
    p{
      color: $Dgray;
      margin-bottom: 20px;

      @include mobile{
        font-size: 11px;
      }
    }

    .no-pledge{
      display: flex;
      gap: 10px;
      border: 1px solid $Mblack;
      margin-bottom: 20px;
      border-radius: 5px;
      align-items: flex-start;
      padding: 20px 10px;

      div{
        flex-direction: column;
        border: none;
        gap: 10px;
        padding: 0px;
        margin-bottom: 0;

        h2{
          margin: 0 0 10px 0;
          line-height: 1;
        }
        h2:hover{
          color: $Mcyan;
          cursor: pointer;
        }
        p{
          margin-bottom: 0;
        }
      }
    }

    .pledge-contain, .inactive{
      border: 1px solid $Mblack;
      margin-bottom: 20px;
      border-radius: 5px;

      div{
        display: flex;
        gap: 10px;
        align-items: flex-start;
        width: 95%;
        padding: 10px 0;
        margin: 0 auto;

        div{
          display: flex;
          flex-direction: column;
          padding: 0;

          p{
            margin: 0;
          }

          .reminder{
            display: none;

            @include mobile{
              display: inline-block;
              color: $Black;
              font-size: 13px;
              font-weight: 700;
              display: flex;
              gap: 3px;
              margin: 0;

            }
          }
          div{
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0;

            p{
              color: $Black;
              font-size: 13px;
              font-weight: 700;
              display: flex;
              gap: 3px;
              margin: 0;

              @include mobile{
                display: none;
              }
            }
            div{
              display: flex;
              flex-direction: row;
              width: 100%;
              padding: 0;

              @include mobile{
                flex-direction: column;
                gap: 0;
              }
              
              h2{
                margin: 0;

                @include mobile{
                  padding-bottom: 3px;
                }
              }
              h2:hover{
                color: $Mcyan;
                cursor: pointer;
              }

              h3{
                color: $Mcyan;
                font-size: 13px;

                @include mobile{
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
      .pledge{
        display: none;
        border-top: 1px solid $Dgray;
        width: 100%;
        padding: 10px;
        align-items: center;
        gap: 0;
        justify-content: space-between;

        

        @include mobile{
          padding: 15px; 
        }
        
        p{
          margin: 0;
          width: 100%;

          @include mobile{
            text-align: center;
            margin-bottom: 10px;
          }
        }
    
        div{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          border: none;
          border-radius: 30px;

          @include mobile{
            justify-content: center;
          }

          .input-btn{
            display: flex;
            align-items: center;
            background-color: $crack;
            border: 1px solid $Dgray;
            padding: 5px 20px;
            border-radius: 30px;
            font-size: 13px;
            font-weight: 700;
            color: $Dgray;
            

            input{
              width: 30px;
              height: 30px;
              border: none;
              background-color: $crack;
              outline: none;
              margin-left: 10px;
              font-size: 15px;
              font-weight: 700;
            }
          }
          .input-btn:focus{
            border-color: 2px solid $Dcyan;
          }

          .continue-btn{
            padding: 14px 25px;
            background-color: $Mcyan;
            border-radius: 30px;
            border: none;
            font-size: 12px;
            color: $crack;

            @include mobile{
              width: 50%;
            }
          }
          .continue-btn:hover{
            background-color: $Dcyan;
          }
        }
      }
    }
      .inactive{
        opacity: 0.4;
      }
  }
  
}