@import 'colors';
@import 'media-quires';
@import 'first-section';
@import 'second-section';
@import 'third-section';
@import 'fourth-section';
@import 'success-modal';
@import 'selection-modal';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Commissioner', sans-serif;
}
body{
  background-color: rgb(244, 244, 244);
  position: relaive;
}